body {

	background-image: url("../images/back.jpg");
	text-align: center;
	font-family:"Futura",sans-serif;

 .box{
	 height: 600px;
   width: 600px;
	 margin-left: 50px;
	 margin-top: 100px;
	 padding-top: 50px;
 }

 iframe{
	 border="0";
 }
 p{
 	 color: white;
 	 font-size: 115%
	 margin-left: 50px;
	 margin-right: 50px;
 	 }

 h2{
	 text-decoration: underline;
	 font-style: oblique;
	 color: white;
 }

	ul {
	list-style-position: inside;
}
  .main{
	padding: 1em;
	color: white;
}

	a {
  outline: none;
  text-decoration: none;
}
  a:link {
	    color: white;
			background-color: rgba(205,109,45,0.3);
			font-size: 200%;
			border: thick double #CD6D2E;
			margin: 10%;
      padding: 10%;
	}
	a:visited {
	    color: black;
			background-color:rgba(205,109,45,0.3);
			margin: 10%;
      padding: 10%;
	}
	a:hover {
	    color: #DF9157;
			background-color: rgba(219,219,219,0.3);
			margin: 10%;
      padding: 10%;
	}

	img {
		width: 100%;
	}
}
